
/*MAIN SOBRE NOSOTROS*/

.main-sobrenosotros h1{
    text-align: center;
    padding: 20px 0;
}

.hijos{
    padding: 15px;
}

.hijos p:hover{
    background-color: #191919;
    color: #191919;
    transition: 0.3s;
}