
/*MAIN ZORA  CIRCULAR*/
.main-so1renosotros h1{
    text-align: center;
    padding: 20px 0;
}

.hijos{
    padding: 15px;
}

.hijos p:hover{
    background-color: #191919;
    color: $bgNabvar;
    transition: 0.3s;
}


.carousel-item{
    width: 50%;
    height: 50%;
    padding: 20px;
}

.h{
    color: $nabvarColor;
}